body {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  margin: 2rem;
}

.glen {
  background-color: #016;
}

.tom {
  background-color: #665;
}

.other {
  /* increment the following counter to trigger a rebuild */
  background-color: #078;
}
