body {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  margin: 2rem;
}

.glen {
  background-color: #023;
}

.tom {
  background-color: #868;
}

.other {
  /* increment the following counter to trigger a rebuild */
  background-color: #0102;
}

.flip-test {
  background-color: #004;
}
