body {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  margin: 2rem;
}

.glen {
  background-color: #014;
}

.tom {
  background-color: #621;
}

.other {
  /* increment the following counter to trigger a rebuild */
  background-color: #005;
}
